html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}
.col-3{
    width: 33.333333%;
}
.col-4{
    width: 25%;
}
.col-5{
    width: 20%;
}
.col-6{
    width: 16.6666666%;
}
.col-7{
    width: 14.3%;
}
.col-8{
    width: 12.5%;
}
.col-9{
    width: 11.3333333%;
}
.col-10{
    width: 10%;
}
.col-11{
    width: 9.090909%;
}
.col-12{
    width: 8.333333%;
}
.card{
    position: relative;

    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0 0 15px rgba(0,0,0,.08);
    transition: .6s;
    margin-bottom: 20px;
}
.card:hover{
    box-shadow: 0 0 30px rgba(0,0,0,.2);
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 2em;
    color: black;
    font-weight: 600;
}
.card-sub-title{
    font-size: 2rem;
    color: black;
}
.data{
    font-size: 1.5rem;
    color: #999;
}
.card-text:last-child {
    margin-bottom: 0;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block
}
.d-inline-table{
    display: inline-table
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.nav-md .container.body .col-md-3.left_col{
    position: fixed;
}

p .views, p .click{
    font-size: 3em;
    color: black;
    font-weight: bold;
}
ul.sorter{
    background: white;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center
}
ul.sorter li{
    display: inline;
    padding: 5px 20px;
    border-right: 1px solid;
}
ul.sorter li:last-child {
        border-right: none;
}
ul.sorter li a{
    color: black;
    font-size: 1.2em;
}
.help-block{
        position: absolute;
        margin-top: -2px;
    margin-bottom: 0px;
}

