html,
body {
   margin: 0;
    /*font-family: Proxima-Nova,sans-serif;*/
    font-family: Proxima-Nova-Bold,sans-serif;
    width: 100%;
}

.h1, h1 {
    font-size: 1.6rem;
}
.h3, h3 {
    font-size: 1.2rem;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.wrap {
    background-size: 0 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    text-align: center;
  
}

.wrap > .container {
   /* padding: 70px 15px 20px;*/
   max-width: 1600px;
}

.wrap .fixed{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    position: fixed;
}
.wrap .fixed .fon{
    background-image: url(/img/logo.png);
    background-size: cover;
    background-position: 50%;
    content: "";
    width: calc(100vw + 80px);
    height: calc(100vh + 80px);
    position: absolute;
    left: -40px;
    top: -40px;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}
.wrap .fixed .mask{
        width: calc(100vw + 80px);
    height: calc(100vh + 80px);
    position: absolute;
    left: -40px;
    top: -40px;
    background: #3c3c3c;
    opacity: .4;
}
.wrap .wrapper{
        width: 375px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
} 
.wrap .wrapper .release{
        line-height: 0;
    position: relative;
    display: inline-block;
    width: 375px;
    max-width: 100%;
}
.wrap .wrapper .release-box {
    line-height: 0;
    position: relative;
    display: inline-block;
    width: 375px;
    max-width: 100%;
}
.wrap .wrapper .release .event{
        width: 100%;
    max-width: 375px;
    margin: 0 auto; 
    background: #fff;
}
.card{
        border: none;
}
.card .card-img, .card .card-img-top{
    border-radius: unset;
}
.card .card-header{
  /*  padding: 0;
  border-bottom: 1px solid #dedede;
    border: none;*/
}
.card-title{
    font-weight: bold;
}
.event-info {
    padding: 18px 15px;
    background: #f2f2f2;
    background-size: 24px auto;
    text-align: left;
    position: relative;
}
h1.no-default-styles, h2.no-default-styles {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}
.event-info__artist {
    color: #3c3c3c;
    font-family: Proxima-Nova-Bold,sans-serif;
    font-size: 22px;
    line-height: 27px;
    max-width: calc(100% - 25px);
    font-weight: bold !important;
}
.event-info__event {
    color: #3c3c3c;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 22px;
    margin-top: 8px;
    max-width: calc(100% - 25px);
}

.sharing{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -15px;
    background: url(/img/svg/ee82e5d.svg) 50% no-repeat;
    background-size: 20px auto;
    cursor: pointer;
    z-index: 2;
}
.sharing-box {
    z-index: 2;
    box-sizing: border-box;
    padding: 10px 0;
    background: #fff;
    border-radius: 40px;
    width: 0;
    transition: all .3s;
    overflow: hidden;
    right: 0;
    top: 50%;
    margin-top: -30px;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    text-align: center;
}
.sharing-box.visible {
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    border: 1px solid #dedede;
    transition: width .3s .1s;
}


.close-sharing, .copy-to-clipboard, .icon-facebook-sharing, .icon-telegram-sharing, .icon-twitter-sharing, .icon-viber-sharing, .icon-vk-sharing, .icon-whatsapp-sharing {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0 calc((100% - 312px)/16);
}
.copy-to-clipboard {
    background: #f3f3f3 url(/img/svg/008a7da.svg) no-repeat 50%;
    background-size: 100% auto;
}
.close-sharing {
    width: 28px;
    height: 28px;
    background: #f3f3f3 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xOSA2LjRMMTcuNiA1TDEyIDEwLjZMNi40IDVMNSA2LjRMMTAuNiAxMkw1IDE3LjZMNi40IDE5TDEyIDEzLjRMMTcuNiAxOUwxOSAxNy42TDEzLjQgMTJMMTkgNi40WiIgZmlsbD0iIzNDM0MzQyIvPgo8L3N2Zz4K) no-repeat 50%;
    background-size: 10px auto;
    border: 1px solid #999;
}
.icon-facebook-sharing {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iMzkiIHZpZXdCb3g9IjAgMCAzOSAzOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTkuNSIgY3k9IjE5LjUiIHI9IjE5LjUiIGZpbGw9IiMxODc3RjIiLz4KPG1hc2sgaWQ9Im1hc2swIiBtYXNrLXR5cGU9ImFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMzkiIGhlaWdodD0iMzkiPgo8Y2lyY2xlIGN4PSIxOS41IiBjeT0iMTkuNSIgcj0iMTkuNSIgZmlsbD0iIzE4NzdGMiIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazApIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMi43MTAxIDM5LjgzMzRIMTYuMzExNVYyNS4yMDY2SDEyLjA0MzVWMjAuMTY2MkwxNi4zMTE1IDIwLjE2NDZMMTYuMzA2MiAxNy4xOTVDMTYuMzA2MiAxMy4wODI4IDE3LjYwNjUgMTAuNTc5NyAyMy4yNjAxIDEwLjU3OTdIMjcuOTY4MVYxNS42MjE3SDI1LjAyNjlDMjIuODI1NCAxNS42MjE3IDIyLjcxOSAxNi4zMjU1IDIyLjcxOSAxNy42NDJMMjIuNzEwMSAyMC4xNjQ2SDI4TDI3LjM3OTEgMjUuMjA0OUwyMi43MTM3IDI1LjIwNjZMMjIuNzEwMSAzOS44MzM0WiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K) no-repeat 50%;
    background-size: 100% auto;
}
.icon-twitter-sharing {
    background: url(/img/svg/651ea6e.svg) no-repeat 50%;
    background-size: 100% auto;
}
.icon-vk-sharing {
    background: url(/img/svg/ace3dae.svg) no-repeat 50%;
    background-size: 100% auto;
}
.icon-whatsapp-sharing {
    background: url(/img/svg/89eb3f4.svg) no-repeat 50%;
    background-size: 100% auto;
}
.icon-viber-sharing {
    background: url(/img/svg/1ba49b3.svg) no-repeat 50%;
    background-size: 100% auto;
}
.icon-telegram-sharing {
    background: url(/img/svg/abad80d.svg) no-repeat 50%;
    background-size: contain;
}
.content {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.order-block.links-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
}


.order-1 {
    order: 99;
}
.order-block {
    width: 100%;
    border-bottom: 1px solid #dedede;
}
.order-link{
    flex: 0 1 54px;
}

.order-link, .order-link a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-link a{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #cecece;
    margin: 5px;
}

.order-link svg {
    width: 24px;
    height: 24px;
}
.order-link svg path{
    transition: fill .4s;
}
.order-link a:hover svg>g>path:first-child, .order-link a:hover svg>path {
    fill: #d71a46;
}


.link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    text-align: left;
    font-family: Proxima-Nova,sans-serif;
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: 18px;
    position: relative;
    line-height: 20px;
    padding: 15px 0;
    font-size: 16px;
}
.link:not(.custom-background):hover {
    background-color: #f6f6f6;
    text-decoration: none;
}
.link.apple {
    background-image: url(/img/svg/366af83.svg)!important;
}
.link.boom {
    background-image: url(/img/svg/9b10f83.svg)!important;
}
.link.spotify, .link.spotify-presave, .link.spotify_presave {
    background-image: url(/img/svg/7ae6116.svg)!important;
}
.link.youtube, .link.music_youtube {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzlweCIgaGVpZ2h0PSIzOXB4IiB2aWV3Qm94PSIwIDAgMzkgMzkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUwLjIgKDU1MDQ3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY29uL3NlcnZpY2VzL3lvdXR1YmUgbXVzaWM8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iaWNvbi9zZXJ2aWNlcy95b3V0dWJlLW11c2ljIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsLTkiIGZpbGw9IiNFODMzMjMiIGN4PSIxOS41IiBjeT0iMTkuNSIgcj0iMTkuNSI+PC9jaXJjbGU+CiAgICAgICAgPGNpcmNsZSBpZD0iT3ZhbC05LUNvcHkiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIwLjgwOTk5OTk1NyIgY3g9IjE5LjUiIGN5PSIxOS41IiByPSI5LjUiPjwvY2lyY2xlPgogICAgICAgIDxwb2x5Z29uIGlkPSJSZWN0YW5nbGUtMzIiIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMTcgMTYgMjMgMjAgMTcgMjQiPjwvcG9seWdvbj4KICAgIDwvZz4KPC9zdmc+)!important;
}
.link.googleplaystore {
    background-image: url(/img/svg/885c6ef.svg)!important;
}
.link.vk, .link.vk_music {
    background-image: url(/img/svg/1d1a068.svg)!important;
}
.link.deezer, .link.deezer-presave {
    background-image: url(/img/svg/40a20cc.svg)!important;
}
.link.yandex {
    background-image: url(/img/svg/8c21b9d.svg)!important;
}
.link.tik-tok {
    background-image: url(/img/svg/00fff9b.svg)!important;
}
.link.soundcloud {
    background-image: url(/img/svg/a0ec375.svg)!important;
}
.link.sber-zvuk {
    background-image: url(/img/svg/158d452.svg)!important;
}
.link.link-icon {
    background-image: url(/img/svg/744fe2c.svg);
}
.service-text {
    flex: 1;
    margin-right: 16px;
    margin-left: 70px;
    word-break: break-word;
}
.link .action {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.link .action {
    width: 80px;
    height: 36px;
    line-height: 36px;
    margin-right: 20px;
    border-radius: 4px;
    background: #d81946;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: Proxima-Nova,sans-serif;
}
.slick-next, .slick-prev {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
    background: url(/img/svg/fa9f8dc.svg) no-repeat 50%;
    background-size: contain;
}

.slick-next {
    right: 10px;
    background: url(/img/svg/20c2725.svg) no-repeat 50%;
    background-size: contain;
}
.slick-disabled {
    opacity: 0;
}
.footer {
    text-align: center;
    padding: 10px 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.subscription{
    padding: 15px 0;
    overflow-y: hidden;
}

.subscription__header.mobile-header {
    font-size: 22px;
    color: #333;
    padding: 0 0 0 15px;
}

.subscription__header {
    padding: 0;
    position: relative;
    color: #0e0c1e;
    font-size: 24px;
    font-family: Proxima-Nova-Bold,sans-serif;
    line-height: 27px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 8px;
}
.telegram-block {
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.telegram-block .telegram {
    width: 40px;
    height: 40px;
    background: url(/img/svg/abad80d.svg) no-repeat 50%;
    background-size: 32px auto;
}
.telegram-label {
    flex: 1;
    margin-left: 8px;
    text-align: left;
}
.red-button {
    transition: .3s;
}
.red-button {
    background: #d81946;
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    padding: 0 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.red-button:hover {
    background: #b51c40!important;
}
.carousel-caption{
    bottom: 45%;
}
.video .play{
    position: absolute;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMnB0IiB2aWV3Qm94PSIwIC03NyA1MTIuMDAyMTMgNTEyIiB3aWR0aD0iNTEycHQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTUwMS40NTMxMjUgNTYuMDkzNzVjLTUuOTAyMzQ0LTIxLjkzMzU5NC0yMy4xOTUzMTMtMzkuMjIyNjU2LTQ1LjEyNS00NS4xMjg5MDYtNDAuMDY2NDA2LTEwLjk2NDg0NC0yMDAuMzMyMDMxLTEwLjk2NDg0NC0yMDAuMzMyMDMxLTEwLjk2NDg0NHMtMTYwLjI2MTcxOSAwLTIwMC4zMjgxMjUgMTAuNTQ2ODc1Yy0yMS41MDc4MTMgNS45MDIzNDQtMzkuMjIyNjU3IDIzLjYxNzE4Ny00NS4xMjUgNDUuNTQ2ODc1LTEwLjU0Mjk2OSA0MC4wNjI1LTEwLjU0Mjk2OSAxMjMuMTQ4NDM4LTEwLjU0Mjk2OSAxMjMuMTQ4NDM4czAgODMuNTAzOTA2IDEwLjU0Mjk2OSAxMjMuMTQ4NDM3YzUuOTA2MjUgMjEuOTI5Njg3IDIzLjE5NTMxMiAzOS4yMjI2NTYgNDUuMTI4OTA2IDQ1LjEyODkwNiA0MC40ODQzNzUgMTAuOTY0ODQ0IDIwMC4zMjgxMjUgMTAuOTY0ODQ0IDIwMC4zMjgxMjUgMTAuOTY0ODQ0czE2MC4yNjE3MTkgMCAyMDAuMzI4MTI1LTEwLjU0Njg3NWMyMS45MzM1OTQtNS45MDIzNDQgMzkuMjIyNjU2LTIzLjE5NTMxMiA0NS4xMjg5MDYtNDUuMTI1IDEwLjU0Mjk2OS00MC4wNjY0MDYgMTAuNTQyOTY5LTEyMy4xNDg0MzggMTAuNTQyOTY5LTEyMy4xNDg0MzhzLjQyMTg3NS04My41MDc4MTItMTAuNTQ2ODc1LTEyMy41NzAzMTJ6bTAgMCIgZmlsbD0iI2YwMCIvPjxwYXRoIGQ9Im0yMDQuOTY4NzUgMjU2IDEzMy4yNjk1MzEtNzYuNzU3ODEyLTEzMy4yNjk1MzEtNzYuNzU3ODEzem0wIDAiIGZpbGw9IiNmZmYiLz48L3N2Zz4=) no-repeat 50%;
    background-size: contain;
    z-index: 2;
    cursor: pointer;
}
.copied {
    background-image: url(/img/svg/ea40a2a.svg);
}
.card.relis{
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.55);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.totop:hover{
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0px 5px 10px 3px rgba(97, 2, 2, 0.86);
    box-shadow: 0px 5px 10px 3px rgba(97, 2, 2, 0.86);
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  30% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  65% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
  }
  30% {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  40% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  65% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.swing:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}


